
.wrapper {
	max-width: 900px;
	margin: 0 auto;
	font-weight: 700;
}

.header {
	padding: 15px 0px;
}
.header__name {
	font-size: 34px;
	
}
.main {
}
.main__accordion {
}
.main__accordion:hover .accordion__item::after{
	content: '';
	background-image: url('../img/плюс.png');
	width: 25px;
	height: 25px;
	background-size: contain;
	background-position: center;
	position: absolute;
	top: 30%;
	right: 0;
	transform: translate(-50%);
}
.main__accordion:hover .accordion__item:hover::after {
	transform: rotate(45deg);
	right: 10px;
}
.main__accordion:hover .accordion__item{
	color: black;
}
.accordion__list {
}
.accordion__item {
	padding: 15px 0px;
	display: flex;
	flex-direction: column;
	position: relative;
	color: blue;
}
.accordion__item:hover {
	cursor: pointer;
}


.accordion__item-title {
	font-size: 25px;

}
.accordion__item-img {
	margin: 20px 0px;
	width: 200px;
	align-self: center;
	display: none;
	
}
.accordion__item:hover img{
	display: block;
}